<ul class="tabs" id="member-tab" data-tabs="tabs">
  <li>
    <a href="#Type">User Type</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Type" class="active">
    <ul id="perm-info">
      <li class="info-item item">
        <label>Type Name</label>
        <input type="text" name="typename" id="overview-typename" value="{{type.typename}}" />
      </li>
      <li class="info-item item">
        <label>Discount</label>
        <input type="number" max="100" name="discount" id="overview-discount" value="{{type.discount}}" />
      </li>
      <li class="info-item item">
        <label>Fee</label>
        <input type="number" name="fee" min="0" id="overview-fee" value="{{type.fee}}" />
      </li>
      <li class="info-item item">
        <label></label>
        <a class="btn primary" id="overview-submit">Change</a>
        <a class="btn danger" id="delete">Delete</a>
      </li>
    </ul>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    typename: $("#overview-typename").val(),
    discount: $("#overview-discount").val(),
    fee: $("#overview-fee").val()
  };
  usertype.update({{type.id}}, data).done(function(json) {
    $("#table-item-{{type.id}}").find(".item-name").text(json.usertype.typename);
    $.colorbox.close();
  });
});
$("#delete").click(function() {
  usertype.delete({{type.id}}).done(function(json) {
    $.colorbox.close();
    $("#table-item-{{type.id}}").fadeOut('slow').remove();
  });
});
});
</script>
