<div>
  <div class="page-header">
    <h6>Comfirm Your Order</h6>
  </div>
  {% for oi in order.order_items %}
  <div class="row">
    <a class="close" data-id="{{oi.id}}">
      &times; 
    </a>
    <div class="span2">
      <a class="thumbnail">
        <img id="dessert-img-{{oi.id}}" src='/static/img/dessert/{{oi.product.dessert.img}}.png'/>
      </a>
    </div>
    <div class="span4">
      Dessert Name: <b>{{oi.product.dessert.dname}}</b>
      <hr/>
      <input type="number" value="{{oi.product.num}}" data-id="{{oi.id}}" class="order-item"/> &times;<b><i>${{oi.product.price}}</i></b>
    </div>
  </div>
  <hr id="hr-{{oi.id}}"/>
  {% endfor %}
  <div class="row">
    <a id="confirm" class='btn span6 white btn-warning'>
      <i class="icon-leaf icon-white"></i>
        Confirm
    </a>
  </div>
</div>
<script>
  $(".close").click(function() {
      var id = $(this).attr("data-id") 
      $('#hr-'+id).fadeOut()
      $(this).parent().fadeOut()
      order_item.delete(parseInt(id))
      order.refresh_cart()
  })
  $("#confirm").click(function() {
      $.post('/ajax/buy/{{order.id}}', 'json').done(function(data) {
        if (data.success) {
          success.top_message('Your Order Have Send')  
          order.refresh_cart()
        } else {
          error.top_message('Order have no item')
        } 
        $.fancybox.close()
      })
  })
</script>
