{% import 'imports/forms.html' as forms %}
<div id='signin'>
  <form class="form-horizontal" id="signinform">
    {% call forms.bs_ctrgroup('Username') %}
      {{forms.input('username', 'id_username', other='placeholder="User Name"')}}
    {% endcall %}
    <div class="control-group" id="password_ctr">
      <label for="id_password" class="control-label">Password: </label>
      <div class="controls">
        <input type="password" id="id_password" name="password" placeholder="Password"/>
        <span class="help-inline"></span>
      </div>
    </div>
    {{ forms.bs_btn('Sign In', btype='primary', class='right', itype='leaf', 
          other='id="signin-submit"')}}
    <div class="clear"></div>
  </form>
</div>
<script>
$(document).ready(function() {


$('#signin-submit').click(function(e) {
  e.preventDefault()

  var username = $("#id_username").val()
  var password = $("#id_password").val()
  if (!username) {
    $("#username_ctr").addClass("error")
    $("#id_username").attr("placeholder", "Can't be empty")  
    return
  }

  if (!password) {
    $("#password_ctr").addClass("error")
    $("#id_password").attr("placeholder", "Can't be empty")  
    return
  }

  send_json({
    url: '/ajax/signin',
    data:{username: $("#id_username").val(), password: $("#id_password").val()},
    method: 'POST'
  }).done(function(result) {
    if (result.success) {
      $("ul#top-account-info").load('/ajax/account')
      success.top_message('Login Success')
      refresh()
      $.fancybox.close()
    } else {
      $(".control-group").each(function() {
        $(this).addClass("error")
      })
      error.top_message('Login Error')
      $("#id_username").attr("placeholder", "ERROR")
      $("#id_username").val("")
      $("#id_password").attr("placeholder", "ERROR")
      $("#id_password").val("")
    }
  })
})
$('#id_username').focus()

})
</script>
