{% import 'imports/forms.html' as forms %}
<div id="dessert_list"> 
  {% for d in dessert_list%}
  <div class="row dessert-item">
    <div class="dessert-img span3" id="item-{{d.id}}" data-id="{{d.id}}">
      <span class="item-img">
        <a class="thumbnail">
          <img id="dessert-img-{{d.id}}" src='/static/img/dessert/{{d.img}}.png'/>
        </a>
      </span>
    </div>
    <div class="span5">
      <h6>Dessert Name: <b>{{d.dname}}</b></h6>
      <hr/>
      <p>
      {{d.des}}
      </p>
      <hr/>
      Price: <b>${{d.price}}</b>
    </div>
    <div class="dessert-op span3">
      {% if user %}
      <div class="control-group">
        <label for="num-{{d.id}}" class="control-label">Number: </label>
        <div class="controls">
          <input type="number" id="num-{{d.id}}" name="num" placeholder="Number" max="{{d.num}}" min="0"/>
        </div>
      </div>
      <div class="form-actions clear">
        <a class="btn btn-success btn-buy" data-id="{{d.id}}" data-price="{{d.price}}">
          <i class="icon-shopping-cart icon-white"></i> 
          Buy
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn-reserve btn btn-info btn-reserve" data-id="{{d.id}}" data-price="{{d.price}}">
          <i class="icon-inbox icon-white"></i> 
          Reserve
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% if not loop.last %}
  <hr/>
  {% endif %}
  {% endfor %}
</div>

<script>
$(document).ready(function() {

$(".dessert-item").hover(function() {
  $(this).addClass("hover")
}, function() {
  $(this).removeClass("hover")
})

$(".dessert-img").click(function() {
  $.fancy_ajax('/index/dessert/' + $(this).attr('data-id'))
})

function add_item(data) {
  send_json({
    url : '/ajax/item/additem', 
    method: 'POST', 
    data: data.data,
    }).done(function(json) {
      if (json.success) {
        success.top_message(data.s_msg)
      } else {
        error.top_message('Add Failed')
      }
    })
}

$(".btn-buy").click(function() {
  var id = $(this).attr("data-id")
  var num = $("#num-"+id).val()
  var price = $(this).attr("data-price")
  if (!num || num == '0') {
    error.top_message('Dessert Number Error')
    return
  }
  num = parseInt(num)
  id = parseInt(id)
  add_item({
    data : {num: num, dessert:id, order: order.id, price: price},
    s_msg: "Dessert Has Add To Your Cart"
  })
  order.refresh_cart()
  $("#num-"+id).val("")
  var max = parseInt($("#num-"+id).attr("max"))
  $("#num-"+id).attr("max", max-num)
})


$(".btn-reserve").click(function() {
  var id = $(this).attr("data-id")
  var num = $("#num-"+id).val()
  var price = $(this).attr("data-price")
  if (!num || num == '0') {
    error.top_message('Dessert Number Error')
    return
  }
  num = parseInt(num)
  id = parseInt(id)

  add_item({  
    data : {num: num, dessert:id, order: reservation.id, price: price},  
    s_msg: "Dessert Added To Your Reservation"
  })
  reservation.refresh_r()
  $("#num-"+id).val("")
})

})
</script>
