<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Overview" data-toggle="tab">Overview</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Overview" class="tab-pane fade active in row">
    <div class="dessert-img span3">
      <span><img src="/static/img/dessert/{{dessert.img}}.png" /></span>
    </div>
    <div class="dessert-info span3">
      <ul class="ops">
        <li>
          <h6>Dessert Name: {{dessert.dname}}</h6>
        </li>
        {% if user %}
        <li>
          <label>Number: </label>
          <input class="span2" type="number" min="0" />
        </li>
        <li>
          <a class="btn btn-success" href="#">
            <i class="icon-shopping-cart icon-white"></i> 
            Buy
          </a>
          &nbsp;&nbsp;&nbsp;
          <a class="btn btn-info" href="#">
            <i class="icon-inbox icon-white"></i> 
            Reserve
          </a>
        </li>
        {% else %}
        <li>Please <a href="/signin">press here</a> to sign in, and buy desserts</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
$("#buy-btn").click(function() {
  
});
});
</script>
