body {
  background-image: url(../img/background.gif);
}
body {
  padding-top: 40px;
}

@media (max-width: 980px)  {
  body {
    padding-top: 0 !important;
  }
}

.modal-backdrop {
  z-index: 1000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#global_search {
  padding: 3px;
}

.sidebar-nav, .content {
  margin-top: 15px;
}

.sidebar-nav {
  padding: 9px 0;
}
.nav-header {
  margin-bottom: 7px;
}

.content {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

li {
  list-style: none;
}

li label {
  float: left;
  width: 100px;
  padding: 4px;
}

.item {
  padding: 10px;
}
.item label {
  text-align: right;
}
.item label {
  margin-right: 20px;
}
.item select {
  width: 220px;
}


/**---top message---**/
div.notif {
  padding: 3px 10px 3px 10px;
  background: orange;
  color: #fff;
  font-size: 1 em; 
  opacity: .5; 
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;  
  z-index: 100000;
}

div.notif.top-success {
  background: lime;
}

div.notif.top-error {
  background: red;
}

/**---error---**/
div#expired_error {
  margin-top: 5px;
}

.popup label {
  width: 100px;
}

.table-item img {
  width: 100px;
  height: 100px;
}

/**--header--**/
.brand {
  font-weight: bold;
  color: black !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}


/**--index--**/
#signin form, #register form {
    padding:15px;
    margin: 0;
    margin-top: 20px;
}

#signin .control-label, #register .control-label {
  width: 120px;
}
#signin .controls, #register .controls {
  margin-left: 130px;
}
#signin span.help-inline, #register span.help-inline {
}

div#main-content {
  padding-top: 20px;
}

.avatar {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

div.navbar-inner {
  background-image: -webkit-linear-gradient(top, rgba(221, 221, 221, 0.5), rgba(204, 204, 204, 0.5));
  background-image: -o-linear-gradient(top, rgba(221, 221, 221, 0.5), rgba(204, 204, 204, 0.5));
  background-image: -ms-linear-gradient(top, rgba(221, 221, 221, 0.5), rgba(204, 204, 204, 0.5));
  background-image: -moz-linear-gradient(top, rgba(221, 221, 221, 0.5), rgba(204, 204, 204, 0.5));
  background-image: linear-gradient(top, rgba(221, 221, 221, 0.5), rgba(204, 204, 204, 0.5));
  background-color: rgba(0, 0, 0, 0);
}

div.navbar .nav > li > a {
  color: #666;
}
div.navbar .nav > li > a:hover {
  color: black;
}
div.navbar .nav .active > a, div.navbar .nav .active > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
