<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Type" data-toggle="tab">User Type</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Type" class="tab-pane active">
    <ul id="type-info">
      <li class="info-item item">
        <label>Type Name</label>
        <input type="text" name="typename" id="overview-typename" value="{{type.typename}}" />
      </li>
      <li class="info-item item">
        <label>Discount</label>
        <input type="number" max="100" name="discount" id="overview-discount" value="{{type.discount}}" />
      </li>
      <li class="info-item item">
        <label>Fee</label>
        <input type="number" name="fee" min="0" id="overview-fee" value="{{type.fee}}" />
      </li>
      <li class="info-item item">
        <label></label>
        <a class="edit btn btn-info"  id="overview-submit">
          <i class="icon-pencil"></i>
          Change
        </a>
        <a class="btn btn-danger" id="delete">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </li>
    </ul>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    typename: $("#overview-typename").val(),
    discount: $("#overview-discount").val(),
    fee: $("#overview-fee").val()
  };
  usertype.update({{type.id}}, data).done(function(json) {
    $("#table-item-{{type.id}}").find(".item-name").text(json.usertype.typename);
    $.fancybox.close();
  });
});
$("#delete").click(function() {
  usertype.delete({{type.id}}).done(function(json) {
    $.fancybox.close();
    $("#table-item-{{type.id}}").fadeOut('slow').remove();
  });
});
});
</script>
