<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Dessert" data-toggle="tab">Dessert</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Dessert" class="tab-pane active">
    <ul id="dessert-info">
      <li class="info-item item">
        <label>Dessert Name</label>
        <input type="text" name="rolename" id="overview-dessertname" value="{{dessert.dname}}" />
      </li>
      <li class="info-item item">
        <label>Dessert Type</label>
        <select name="dtype" id="overview-dtype">
          <option value="">--select--</option>
          {% for type in type_list%}
          <option value="{{type.id}}" {% if type.id == dessert.dessert_type.id %} selected="selected" {% endif %}>{{type.typename}}</option>
          {% endfor %}
        </select>
      </li>
      <li class="info-item item">
        <img id="dessert-img" src='/static/img/dessert/{{dessert.img}}.png' style="width:100px; height:100px;"/>
        <input type="file" name="file" id="img-uploader"/>
      </li>
      <li class="info-item item">
        <label></label>
        <a class="edit btn btn-info"  id="overview-submit">
          <i class="icon-pencil"></i>
          Change
        </a>
        <a class="btn btn-danger" id="delete">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </li>
    </ul>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$('#img-uploader').change(function() {
    $(this).upload('/admin/dessert/upload/{{dessert.id}}', function(data){
    var img = $("#dessert-img");
    var src = img.attr('src');
    src += '?' + new Date().getTime();
    img.attr('src', src);
    $("#dessert-img-{{dessert.id}}").attr('src', src);
  }, 'html');
});
$("#overview-submit").click(function() {
  var data = {
    dessert_name : $("#overview-dessertname").val(),
    type : $("#overview-dtype").val()
  };
  dessert.update({{dessert.id}}, data).done(function(json) {
    $("#table-item-{{dessert.id}}").find(".item-name").text(json.dessert.dname);
    $.fancybox.close();
  });
});
$("#delete").click(function() {
  dessert.delete({{dessert.id}}).done(function(json) {
    $.fancybox.close();
    $("#table-item-{{dessert.id}}").fadeOut('slow').remove();
  });
});
});
</script>
