{% import 'imports/forms.html' as forms %}
{% import 'imports/global.html' as global%}

{% call global.bs_html() %}
<body>
{% call global.bs_top_bar("DHouse") %}
  <ul class="nav">
    <li {% if index %}class="active" {% endif %}>
      <a href="/">
        <i class="icon-home"></i>
        Index
      </a>
    </li>
    <li {% if member_center%}class="active" {% endif %}>
      <a href="/member">
        <i class="icon-user"></i>
        Member Center
      </a>
    </li>
  </ul>
  <div class="navbar-search pull-left">
    {{forms.input('','global_search',type='search', other='placeholder="Search"')}}
  </div>
  <ul id="top-account-info" class="nav pull-right">
  </ul>
  <script>
    $(document).ready(function() {
      var url = '/ajax/account';
      {% if signin %}
      url += '?signin=true';
      {% elif register %}
      url += '?register=true';
      {% endif %}
      $('ul#top-account-info').load(url)
    });
  </script>
{% endcall %}
<div id="main-container" class="container">
  {%if user and  user.is_expired()  %}
  <div id="expired_error" class="alert block-message">
    <a class="close" href="#">x</a>
    <p> 
      <strong>Your Membership Has Expired Pless 
        <a href="#" id="modal-press2" >Press Here</a> to Recharge  
    </strong></p>
  </div>
  <script>
    $(document).ready(function() {
        $("#modal-press2").click(function() {
          $("#recharge-modal").modal({
            backdrop: true,
            keyboard: true,
            show: true
          });
        });
    });
  </script>
  {% endif %}
  {%block container%} 
  {%endblock%}
</div>
</body>
{% endcall %}
