{% import 'imports/forms.html' as forms %}
<!DOCTYPE html>
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <!--<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" />-->
    <link type="text/css" rel="stylesheet" href="/static/css/core.css" />
    <link type="text/css" rel="stylesheet" href="/static/fb/jquery.fancybox.css" />
    <link type="text/css" rel="stylesheet" href="/static/fb/helpers/jquery.fancybox-buttons.css" />
    <link type="text/css" rel="stylesheet" href="/static/fb/helpers/jquery.fancybox-thumbs.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/fb/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/js/jquery.upload-1.0.2.js"></script>
    <script type="text/javascript" src="/static/fb/helpers/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="/static/fb/helpers/jquery.fancybox-thumbs.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/hc/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/hc/js/modules/exporting.js"></script>
    {%block additional_css%}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">DHouse</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if index %}class="active" {% endif %}>
                <a href="/">
                  <i class="icon-home"></i>
                  Index
                </a>
              </li>
              <li {% if member_center%}class="active" {% endif %}>
                <a href="/member">
                  <i class="icon-user"></i>
                  Member Center
                </a>
              </li>
            </ul>
            <form class="navbar-search pull-left">
              <input id="global_search" type="search" placeholder="Search" />
            </form>
            <ul id="top-account-info" class="nav pull-right">
            </ul>
            <script>
              $(document).ready(function() {
                var url = '/ajax/account';
                {% if signin %}
                url += '?signin=true';
                {% elif register %}
                url += '?register=true';
                {% endif %}
                $('ul#top-account-info').load(url)
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <div id="main-container" class="container">
      {%if user and  user.is_expired()  %}
      <div id="expired_error" class="alert block-message">
        <a class="close" href="#">x</a>
        <p> 
          <strong>Your Membership Has Expired Pless 
            <a href="#" id="modal-press2" >Press Here</a> to Recharge  
        </strong></p>
      </div>
      <script>
        $(document).ready(function() {
            $("#modal-press2").click(function() {
              $("#recharge-modal").modal({
                backdrop: true,
                keyboard: true,
                show: true
              });
            });
        });
      </script>
      {% endif %}
      {%block container%} 
      {%endblock%}
    </div>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/mine/core.js"></script>
    <script type="text/javascript" src="/static/js/mine/obj.js"></script>
    <script type="text/javascript" src="/static/js/mine/helper.js"></script>
    {% block body_script %}{% endblock %}
</body>
</html>
