{% extends "base.html" %}

{% block page_title %}index{% endblock %}

{% block container%}
<div class="row" id="item-rec-list-container">
</div>
<div class="well" id="item-list-container">
</div>
{% endblock %}

{% block body_script %}
<script>
$(document).ready(function() {

!function(order) {
  order.refresh_cart = function() {
    $("#cart").remove()
    $.get('/ajax/cart', function(data) {
      $("body").append(data)
    })
  }
}(order);

order.refresh_cart()

$.get('/index/dessert_rec_list', function(data) {
  $("#item-rec-list-container").append(data)
})

$.get('/index/dessert_list', function(data) {
  $("#item-list-container").append(data)
})

})
</script>
{% endblock %}
