{% extends "base.html" %}

{% block page_title %}Dessert House{% endblock %}

{% block container%}
<div class="row" id="item-rec-list-container">
</div>
<div class="well" id="item-list-container">
</div>
{% endblock %}

{% block body_script %}
<script>
$(document).ready(function() {

!function(order) {
  order.refresh_cart = function() {
    $("#cart").remove()
    $.get('/ajax/cart', function(data) {
      $("body").append(data)
    })
  }
}(order);

!function(reservation) {
  reservation.refresh_r = function() {
    $("#reservation-block").remove()
    $.get('/ajax/reserve', function(data) {
      $("body").append(data)
    })
  }
}(reservation)

window.refresh_sidetool = function() {
  order.refresh_cart()
  reservation.refresh_r()
}

refresh_sidetool()

$.get('/index/dessert_rec_list', function(data) {
  $("#item-rec-list-container").append(data)
})

$.get('/index/dessert_list', function(data) {
  $("#item-list-container").append(data)
})

})
</script>
{% endblock %}
