<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Product" data-toggle="tab">Product</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Product" class="tab-pane active">
    <ul id="product-info">
      <li class="info-item item">
        <label>Dessert</label>
        <select name="dessert" id="overview-dessert">
          <option value="">--select--</option>
          {% for dessert in dessert_list%}
          <option value="{{dessert.id}}" id="op-{{dessert.id}}" {%if dessert.id==product.dessert.id%}selected="selected"{%endif%}>{{dessert.dname}}</option>
          {% endfor %}
        </select>
      </li>
      <li class="info-item item">
        <label>Num</label>
        <input value="{{product.num}}" type="number" name="num" min="0" id="overview-num" />
      </li>
      <li class="info-item item">
        <label>Price</label>
        <input type="number" value="{{product.price}}" min="0" name="fee" id="overview-price" />
      </li>
      <li class="info-item item">
        <label></label>
        <a class="edit btn btn-info"  id="overview-submit">
          <i class="icon-pencil"></i>
          Change
        </a>
        <a class="btn btn-danger" id="delete">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </li>
    </ul>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    dessert: $("#overview-dessert").val(),
    num : $("#overview-num").val(),
    price: $("#overview-price").val()
  };
  product.update({{product.id}}, data).done(function(json) {
    var d_name = $("#op-"+data.dessert).text();
    $("#table-item-{{product.id}}").find(".item-name").text(d_name);
    $.fancybox.close();
  });
});
$("#delete").click(function() {
  product.delete({{product.id}}).done(function(json) {
    $.fancybox.close();
    $("#table-item-{{product.id}}").fadeOut('slow').remove();
  });
});
});
</script>
